.navbar-brand img {
    height: 30px;
}

.navbar-brand-big img {
    height: 50px;
}

.navbar-brand-big {
    font-size: 16px;
}

.navbar form {
    width: 500px;
    margin: 0 10px;
}

@media (max-width: 1320px) {
    .navbar .multi-brands {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar .multi-brands a {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .navbar>.container-fluid {
        justify-content: center;
    }
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
    margin: 15px 0px;
    width: 100%;
    display: none;
}

.dataTables_wrapper .dataTables_filter input {
    display: inline-block;
    width: 400px;
    margin-left: 10px;
}

.dataTables_wrapper .dataTables_info {
    float: initial;
    text-align: center;
    padding: 0.755em 0;
}

tr>td:last-of-type {
    white-space: nowrap;
}

.dataTable select {
    max-width: 120px;
    display: block;
}